# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
import time

# Import API key
from config import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_data = pd.read_csv("../WeatherPy/output_data/cities.csv")
weather_data

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Cayenne,4.9333,-52.3333,75.20,100,90,3.44,GF,1615576323
1,Zhigansk,66.7697,123.3711,-2.83,98,100,7.34,RU,1615576399
2,Wilmington,34.2257,-77.9447,78.80,38,1,11.50,US,1615576306
3,Teixoso,40.3145,-7.4576,48.99,60,0,4.63,PT,1615576399
4,Port Alfred,-33.5906,26.8910,75.04,87,1,20.87,ZA,1615576401
...,...,...,...,...,...,...,...,...,...
572,Semey,50.4111,80.2275,17.94,95,100,9.55,KZ,1615576768
573,Nara,34.6851,135.8049,52.00,95,88,4.63,JP,1615576768
574,San Matías,-16.3667,-58.4000,92.68,47,15,3.09,BO,1615576769
575,Bertoua,4.5833,13.6833,72.79,85,81,5.14,CM,1615576769
576,Charters Towers,-20.1000,146.2667,70.74,92,0,6.06,AU,1615576770

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps
gmaps.configure(api_key=g_key)

# Store latitude and longitude in locations
locations = weather_data[["Lat", "Lng"]]

# Store Humidity in humidity
humidity = weather_data["Humidity"]

In [4]:
# Plot Heatmap
fig = gmaps.figure(center=(46.0, -5.0), zoom_level=2)
max_intensity = np.max(humidity)

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius=3)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
max_intensity

100

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [6]:
# Narrow down the cities with wind speed less than 10 mph, cloudiness equals to 0 and max temp between 60 and 80
narrowed_city_df = weather_data.loc[(weather_data["Wind Speed"] <= 10) & (weather_data["Cloudiness"] == 0) & \
                                   (weather_data["Max Temp"] >= 70) & (weather_data["Max Temp"] <= 80)].dropna()

narrowed_city_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
16,East London,-33.0153,27.9116,73.40,88,0,9.22,ZA,1615576409
18,Rawson,-43.3002,-65.1023,74.86,30,0,5.19,AR,1615576411
29,Camaná,-16.6228,-72.7111,77.72,71,0,7.61,PE,1615576417
30,Tura,25.5198,90.2201,70.23,51,0,1.81,IN,1615576418
41,Port Elizabeth,-33.9180,25.5701,71.60,88,0,3.44,ZA,1615576343
49,Cape Town,-33.9258,18.4232,70.00,88,0,5.75,ZA,1615576429
69,Visakhapatnam,17.6900,83.2093,77.00,83,0,2.30,IN,1615576438
93,Chirongui,-12.9319,45.1483,78.80,83,0,2.17,YT,1615576457
100,Saint-Philippe,-21.3585,55.7679,77.00,61,0,6.91,RE,1615576461
116,Deshnok,27.7986,73.3447,71.42,34,0,8.14,IN,1615576471
117,Flinders,-34.5833,150.8552,71.01,91,0,1.99,AU,1615576471
161,Bandarbeyla,9.4942,50.8122,77.70,71,0,8.25,SO,1615576514
184,Ormara,25.2088,64.6357,73.78,78,0,2.59,PK,1615576532
199,Narasannapeta,18.4167,84.0500,72.34,87,0,3.33,IN,1615576542
215,Salalah,17.0151,54.0924,77.00,73,0,2.30,OM,1615576553
253,Hambantota,6.1241,81.1185,77.00,100,0,5.75,LK,1615576575
257,Wiang Sa,8.6359,99.3666,72.27,90,0,1.92,TH,1615576578
274,Inhambane,-23.8650,35.3833,78.80,73,0,4.61,MZ,1615576587
289,Dwārka,22.2394,68.9678,75.49,79,0,9.31,IN,1615576595
345,Richards Bay,-28.7830,32.0377,73.58,94,0,6.35,ZA,1615576627
407,Oodweyne,9.4092,45.0640,70.95,27,0,6.98,SO,1615576663
450,Dakar,14.6937,-17.4441,73.40,56,0,9.22,SN,1615576694
466,Matara,5.9485,80.5353,75.24,85,0,8.41,LK,1615576702
501,Broken Hill,-31.9500,141.4333,75.20,43,0,9.22,AU,1615576722
570,Phalodi,27.1333,72.3667,73.44,33,0,8.55,IN,1615576767
576,Charters Towers,-20.1000,146.2667,70.74,92,0,6.06,AU,1615576770

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# Create a hotel_df
hotel_df = narrowed_city_df.loc[:,["City","Country", "Lat", "Lng"]]

# Add a "Hotel Name" column to the DataFrame.
hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

                City Country      Lat       Lng Hotel Name
16       East London      ZA -33.0153   27.9116
18            Rawson      AR -43.3002  -65.1023
29            Camaná      PE -16.6228  -72.7111
30              Tura      IN  25.5198   90.2201
41    Port Elizabeth      ZA -33.9180   25.5701
49         Cape Town      ZA -33.9258   18.4232
69     Visakhapatnam      IN  17.6900   83.2093
93         Chirongui      YT -12.9319   45.1483
100   Saint-Philippe      RE -21.3585   55.7679
116          Deshnok      IN  27.7986   73.3447
117         Flinders      AU -34.5833  150.8552
161      Bandarbeyla      SO   9.4942   50.8122
184           Ormara      PK  25.2088   64.6357
199    Narasannapeta      IN  18.4167   84.0500
215          Salalah      OM  17.0151   54.0924
253       Hambantota      LK   6.1241   81.1185
257         Wiang Sa      TH   8.6359   99.3666
274        Inhambane      MZ -23.8650   35.3833
289           Dwārka      IN  22.2394   68.9678
345     Richards Bay      ZA -28.7830   32.0377
407         Oodweyne      SO   9.4092   45.0640
450            Dakar      SN  14.6937  -17.4441
466           Matara      LK   5.9485   80.5353
501      Broken Hill      AU -31.9500  141.4333
570          Phalodi      IN  27.1333   72.3667
576  Charters Towers      AU -20.1000  146.2667

In [8]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

params = {"type" : "hotel",
          "keyword" : "hotel",
          "radius" : 5000,
          "key" : g_key}

In [9]:
for index, row in hotel_df.iterrows():
    # get city name, lat, lnt from df
    lat = row["Lat"]
    lng = row["Lng"]
    city_name = row["City"]
    
    # add keyword to params dict
    params["location"] = f"{lat},{lng}"

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city_name}.")
    response = requests.get(base_url, params=params).json()
    
    # extract results
    results = response['results']
    
    # save the hotel name to dataframe
    try:
        print(f"Closest hotel in {city_name} is {results[0]['name']}.")
        hotel_df.loc[index, "Hotel Name"] = results[0]['name']

    # if there is no hotel available, show missing field
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
        
    print("------------")
    
    # Wait 1 sec to make another api request to avoid SSL Error
    time.sleep(1)

# Print end of search once searching is completed
print("-------End of Search-------")

Retrieving Results for Index 16: East London.
Missing field/result... skipping.
------------
Retrieving Results for Index 18: Rawson.
Missing field/result... skipping.
------------
Retrieving Results for Index 29: Camaná.
Missing field/result... skipping.
------------
Retrieving Results for Index 30: Tura.
Missing field/result... skipping.
------------
Retrieving Results for Index 41: Port Elizabeth.
Missing field/result... skipping.
------------
Retrieving Results for Index 49: Cape Town.
Missing field/result... skipping.
------------
Retrieving Results for Index 69: Visakhapatnam.
Missing field/result... skipping.
------------
Retrieving Results for Index 93: Chirongui.
Missing field/result... skipping.
------------
Retrieving Results for Index 100: Saint-Philippe.
Missing field/result... skipping.
------------
Retrieving Results for Index 116: Deshnok.
Missing field/result... skipping.
------------
Retrieving Results for Index 117: Flinders.
Missing field/result... skipping.
------------
Retrieving Results for Index 161: Bandarbeyla.
Missing field/result... skipping.
------------
Retrieving Results for Index 184: Ormara.
Missing field/result... skipping.
------------
Retrieving Results for Index 199: Narasannapeta.
Missing field/result... skipping.
------------
Retrieving Results for Index 215: Salalah.
Missing field/result... skipping.
------------
Retrieving Results for Index 253: Hambantota.
Missing field/result... skipping.
------------
Retrieving Results for Index 257: Wiang Sa.
Missing field/result... skipping.
------------
Retrieving Results for Index 274: Inhambane.
Missing field/result... skipping.
------------
Retrieving Results for Index 289: Dwārka.
Missing field/result... skipping.
------------
Retrieving Results for Index 345: Richards Bay.
Missing field/result... skipping.
------------
Retrieving Results for Index 407: Oodweyne.
Missing field/result... skipping.
------------
Retrieving Results for Index 450: Dakar.
Missing field/result... skipping.
------------
Retrieving Results for Index 466: Matara.
Missing field/result... skipping.
------------
Retrieving Results for Index 501: Broken Hill.
Missing field/result... skipping.
------------
Retrieving Results for Index 570: Phalodi.
Missing field/result... skipping.
------------
Retrieving Results for Index 576: Charters Towers.
Missing field/result... skipping.
------------
-------End of Search-------

In [10]:
# Display the hotel dataframe
hotel_df

                City Country      Lat       Lng Hotel Name
16       East London      ZA -33.0153   27.9116
18            Rawson      AR -43.3002  -65.1023
29            Camaná      PE -16.6228  -72.7111
30              Tura      IN  25.5198   90.2201
41    Port Elizabeth      ZA -33.9180   25.5701
49         Cape Town      ZA -33.9258   18.4232
69     Visakhapatnam      IN  17.6900   83.2093
93         Chirongui      YT -12.9319   45.1483
100   Saint-Philippe      RE -21.3585   55.7679
116          Deshnok      IN  27.7986   73.3447
117         Flinders      AU -34.5833  150.8552
161      Bandarbeyla      SO   9.4942   50.8122
184           Ormara      PK  25.2088   64.6357
199    Narasannapeta      IN  18.4167   84.0500
215          Salalah      OM  17.0151   54.0924
253       Hambantota      LK   6.1241   81.1185
257         Wiang Sa      TH   8.6359   99.3666
274        Inhambane      MZ -23.8650   35.3833
289           Dwārka      IN  22.2394   68.9678
345     Richards Bay      ZA -28.7830   32.0377
407         Oodweyne      SO   9.4092   45.0640
450            Dakar      SN  14.6937  -17.4441
466           Matara      LK   5.9485   80.5353
501      Broken Hill      AU -31.9500  141.4333
570          Phalodi      IN  27.1333   72.3667
576  Charters Towers      AU -20.1000  146.2667

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
#hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [12]:
# Add marker layer and info box content ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content = hotel_info)

# Add the layer to the map
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(height='420px'))